<div class="card">
  <div class="card-header" style="background-color: silver">
    {{pageTitle}}
  </div>
  <div class="card-body" style="background-color: black">
    <div class="container-fluid">
      <div class="text-center" style="background-color: black">
        <img src="./assets/images/movieprojector.jpg"
             class="img-responsive center-block"
             style="max-height:450px;padding-bottom:50px" />
      </div>

      <h2 class="text-center">The Screen Room</h2>


    </div>
  </div>


</div>
